@model TrashCollector.Models.Customer


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerID)
        <h4>The day we're scheduled to pickup your garbage is displayed below.  If you'd prefer a different day, select it from the dropdown menu and we'll come then instead.</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.ScheduledPickUpDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.ScheduledPickUpDay, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ScheduledPickUpDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


